<h1>TODOアプリ</h1>
<% if logged_in? %>
  <h2>タスク一覧</h2>
  <%= link_to "ログアウト", logout_path, method: :delete %> 
<% else %>
  <p>タスクの管理ができるアプリです。まずはSign up / ログインをしてください。</p>
  <%= link_to "Sign up", new_user_path %>
  <%= link_to "ログイン", login_path%>
<% end %>